.form-floating{
    /* border: 3px solid black; */
    /* padding: 20%; */
    position: relative;
    width: 30%;
    right: -40%;
    padding: 35px;
}
.cont{
    padding: 13px;
    width: 50rem;
    position: relative;
    bottom: -5rem;
}
.main{
    padding: 5rem;
}